<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>raldblog register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="    https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../styles/main.css">
</head>

<body>
    <header>
        <nav>
            <div class="container">
                <h1 id="brand" class="p-2">Raldblog</h1>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-4 m-auto">
                <br>
                <center>
                    <h5>welcome to the family</h5>
                    <p id="error"></p>
                </center>
                <form method="POST" action="../Classes/controller.php" class="form-group" id="reg" enctype="multipart/form-data">
                    <label>first name</label>
                    <input type="text" name="fname" placeholder="first name" class="form-control" id="fname" required important><br>
                    <label>last name</label>
                    <input type="text" name="lname" class="form-control" id="lname" required important><br>
                    <label>username</label>
                    <input type="text" name="uname" class="form-control" id="uname" required important><br>
                    <label>email</label>
                    <input type="text" name="email" class="form-control" id="email" required important><br>
                    <label>password</label>
                    <input type="password" name="pass" class="form-control" id="pass" required important><br>
                    <label>confirm password</label>
                    <input type="password" name="cpass" class="form-control" id="cpass" required important><br>
                    <label>phone</label>
                    <input type="text" name="phone" class="form-control" id="phone" required important><br>
                    <label>profession</label>
                    <input type="text" name="profession" class="form-control" id="profession"><br>
                    <label>skill</label>
                    <input type="text" name="skill" class="form-control" id="skill"><br>
                    <label>avatar</label>
                    <input type="File" name="avatar" accept="*/" capture>
                    <input type="submit" name="register" class="btn btn-info">
                </form>
                <a href="./login.html" class="ml-5">login</a>
            </div>
        </div>
    </div>
    <footer>
        <br><br><br><br><br><br><br><br>
        <center>
            <p>&copy; Raldblog</p>
            <p>made with <i class="fa fa-heart text-danger"></i> by hycient</p>
        </center>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(() => {

            /* $("#reg").on("submit", (e) => {
                 e.preventDefault();

                 $.ajax({
                     url: "../Classes/controller.php",
                     method: "post",
                     data: new FormData(document.getElementById("reg")),
                     contentType: false,
                     cache: false,
                     processData: false,
                     success: function(data) {
                         alert(data)
                     }
                 });

             });*/

        });
    </script>
</body>

</html>